@font-face {
    font-family: Get Schwifty Font;
    src:url(../public/get_schwifty.ttf);
}

.App {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background-image: url(../public/gifrick.gif);
    background-position: center;
    background-size:cover;
}


.header__title{
    margin-bottom: 10px;
    font-family: Get Schwifty Font;
    font-size: 65px;
    font-weight: bold;
    color: #3fabc0;
    -webkit-text-stroke: 0.1px #97ce4c;
}

.input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 6px 13px 7px rgba(251,107,251,0.49);;
    border: none;
}

